# Copy this file to terraform.tfvars and fill in your values

aws_region       = "us-east-1"
db_password      = "YourStrongPassword123!"
newsapi_key      = "your_newsapi_key_here"
fred_api_key     = "your_fred_api_key_here"
jwt_secret_key   = "your_jwt_secret_key_here"
github_repo_url  = "https://github.com/gauthambinoy/cryptostock-pro.git"
